<h1>About CarPost</h1>
<div class="about">
  <p style="text-align: center;">
    <i >"CarPost"</i> is a place, where you can sell your car and also look for a new one.
    <br>
    <a style="text-align: bottom"  href="https://github.com/ivan-nedelchev">Github </a>
  
  </p>  
</div>